body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial;
    text-align: center;
    padding-top: 80px;
    color: white;
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #ff4d6d;
    font-size: 16px;
    cursor: pointer;
}

#secret {
    display: none;
    font-size: 22px;
    margin-top: 30px;
}

a {
    color: yellow;
    text-decoration: none;
    font-size: 18px;
}
